/* Staging only styles */

prm-main-menu::before {
    content: "Testing";
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    top: 50%;
    color: #FFFFFF;
    display: flex;
    flex-basis: start;
}

prm-topbar div.top-nav-bar,
prm-topbar,
prm-user-area,
prm-user-area md-fab-toolbar md-toolbar,
prm-user-area md-fab-toolbar .md-fab-action-item .md-button,
prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background {
    background-color: #501315 !important;
}